
.left-panel img{
  width: 420px;
  max-width: 100%;
}

.left-panel{
  display: flex;
  align-items: center !important;
  justify-content: center !important;
}

.header{
  /* position: fixed; */
  font-weight: 700;
  color: #333333;
  margin: 20px;
}

.hamburger{
  display: none;
}

.footer{
  /* position: fixed;
  left: 50%;
  transform: translate(-50%, 0); */
  /* bottom: 0; */
  font-weight: 500;
  color: #BDBDBD;
  margin: 20px;
  display: flex;
  margin-top: 20px;
  align-items: center !important;
  justify-content: center !important;
}

.container{
  height: 100vh !important;
}

.title{
  font-family: monospace;
  font-size: 48px;
  font-weight: 700;
  color: #333333
}

.desc {
  font-family: monospace;
  font-size: 24px;
  font-weight: 400;
  color: #333333 !important;
}

.btnHome {
  height: 68px;
  width: 216px;
  background-color: #333333;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}

.code-block{
  color: #a9b7c6;
  background-color: #2b2b2b;
  padding: 1em;
  margin: 0.5em 0;
  white-space: pre-wrap;
  max-width: 90vw;
}

.team-title{
  font-family: myPTSerif;
  font-weight: 700;
  font-size: 36px;
}

.crew-avatar{
  height: 341px;
  width: 238px;
}

.crew-name {
  font-weight: 600;
  font-size: 18px;
}

.crew-position {
  font-family: myPTSerif;
  font-size: 12px;
  font-weight: 400;
  line-height: 15.9px;
  writing-mode: vertical-rl;
  margin-left: 8px;
}

.crew-frame:nth-child(2){
  margin-top: 60px;
}

.crew-frame:nth-child(5){
  margin-top: 60px;
}

.interior-consultant-container{
  background: #181719;
  color: white;
  padding: 50px;
  box-shadow: 0px 2px 25px 0px #0000001A;
  z-index: 1;
}

.ic-header-text{
  font-family: Montserrat;
}

.ic-header-logo{
  font-size: 14px;
  padding: 4px;
  font-weight: 200;
  border: 1px solid white;
}

.ic-header-menu{
  display: flex;
}

.ic-header-item:hover{
  font-weight: bold;
  color:#828282
}

.ic-header-menu-selected{
  font-weight: bold;
  border-bottom: 3px solid white;
}

.ic-body-title{
  font-size: 48px;
  font-weight: 500;
  font-family: Lora
}

.ic-body-desc{
  font-size: 24px;
  font-weight: 400;
  font-family: Montserrat
}

.ic-author-container{
  box-shadow: 0px 4px 4px 0px #00000040;
  background: #181719;
  width: 410px;
  height: 189px;
  margin-top: -100px;
  margin-right: 20px;
}

.ic-avatar{
  border-radius: 50%;
}

.ic-cover{
  width: 100%;
}

.ic-author{
  font-family: Montserrat;
  font-size: 14px;
}

.ic-position{
  font-family: Montserrat;
  font-size: 12px;
  color: #828282;
}

.ic-banner{
  font-size: 24px;
  font-family: Lora;
  font-weight: 700;
}

.offcanvas2{
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  background-color: #181719;
  margin-left: 100%;
  transition: all 0.3s ease-in-out;
}

.close-nav{
  font-size: 20px;
  position: absolute;
  right: 0;
  padding-right: 10px;
}

.offcanvas2.--show{
  margin-left: 0%;
}


.rp-header-title{
  font-family: Playfair;
  font-size: 48px;
  font-weight: 700;
}

.rp-header-desc{
  font-family: Montserrat;
  font-weight: 500;
  font-size: 14px;
  max-width: 48%;
  margin-top: 20px;
  font-family: Montserrat;
  font-style: italic;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #4F4F4F;
}
.rp-header-desc-prefix{
  color: #C4C4C4;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.2em;
  font-style: normal !important;
}


.rp-header-cover-container img {
  width: 100%;
  border-radius: 12px;
  margin-top: 20px;
  margin-bottom: 48px;
}

.rp-ingredient-title{
  font-family: Playfair;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 40px;
}

.rp-ingredient-item{
  font-family: Playfair;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 30px;
}

.rp-ingredient-sub-item{
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}

@media (max-width: 768px) {
  .left-panel{
    margin-top: 30px;
  }
  .right-panel{
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: center !important;
  }
  .title{
    text-align: center;
    font-size: 38px;
  }
  .desc{
    text-align: center;
  }
  .container{
    height: auto;
  }
  .ic-header-menu{
    display: none;
  }
  .hamburger{
    display: block;
  }
}

@media (min-width: 769px) {
  .offcanvas2{
    margin-left: 100% !important;
  }
  .ing-items{
    order: 2 !important
  }
  .ing-summary{
    order: 1 !important
  }
}

@media (max-width: 991px) {
  .crew-frame:nth-child(2){
    margin-top: 0px;
  }
  
  .crew-frame:nth-child(5){
    margin-top: 0px;
  }

  .crew-frame:nth-child(even){
    margin-top: 60px;
  }
}

@media (max-width: 575px) {
  .crew-frame:nth-child(even){
    margin-top: 0px;
  }
}

@media (max-width: 550px) {
  .ic-author-container{
    width: 100%;
    max-width: 310px;
    margin-right: 10px;
    margin-left: 10px;
  }
  .ic-banner{
    font-size: 18px !important;
  }
  .ic-body-title{
    font-size: 38px;
    font-weight: 500;
    font-family: Lora
  }
  .ic-body-desc{
    font-size: 14px;
    font-weight: 500;
    font-family: Lora
  }
}

@media (max-width: 550px) {
.interior-consultant-container{
    padding: 14px;
  }
}