/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

.left-panel img{
  width: 60vh;
}

.left-panel{
  display: flex;
  align-items: center !important;
  justify-content: center !important;
}

.header{
  /* position: fixed; */
  font-weight: 700;
  color: #333333;
  margin: 20px;
}

.footer{
  /* position: fixed;
  left: 50%;
  transform: translate(-50%, 0); */
  /* bottom: 0; */
  font-weight: 500;
  color: #BDBDBD;
  margin: 20px;
  display: flex;
  margin-top: 20px;
  align-items: center !important;
  justify-content: center !important;
}

.container{
  height: 100vh;
  width: 100vw;
}

.title{
  font-family: monospace;
  font-size: 48px;
  font-weight: 700;
  color: #333333
}

.desc {
  font-family: monospace;
  font-size: 24px;
  font-weight: 400;
  color: #333333 !important;
}

.btnHome {
  height: 68px;
  width: 216px;
  background-color: #333333;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}

.code-block{
  color: #a9b7c6;
  background-color: #2b2b2b;
  padding: 1em;
  margin: 0.5em 0;
  white-space: pre-wrap;
}

.team-title{
  font-family: myPTSerif;
  font-weight: 700;
  font-size: 36px;
}

.crew-avatar{
  height: 341px;
  width: 238px;
}

.crew-name {
  font-weight: 600;
  font-size: 18px;
}

.crew-position {
  font-family: myPTSerif;
  font-size: 12px;
  font-weight: 400;
  line-height: 15.9px;
  writing-mode: vertical-rl;
  margin-left: 8px;
}

.crew-frame:nth-child(2){
  margin-top: 60px;
}

.crew-frame:nth-child(5){
  margin-top: 60px;
}


@media (max-width: 768px) {
  .left-panel{
    margin-top: 30px;
  }
  .right-panel{
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: center !important;
  }
  .title{
    text-align: center;
    font-size: 38px;
  }
  .desc{
    text-align: center;
  }
  .container{
    height: auto;
  }

}

@media (max-width: 991px) {
  .crew-frame:nth-child(2){
    margin-top: 0px;
  }
  
  .crew-frame:nth-child(5){
    margin-top: 0px;
  }

  .crew-frame:nth-child(even){
    margin-top: 60px;
  }
}

@media (max-width: 575px) {
  .crew-frame:nth-child(even){
    margin-top: 0px;
  }
}